*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(219, 219, 210);
    position: relative;
}

.green{
    height: 7rem;
    background-color: rgb(0, 150, 136);
}

#container{
    width: 70%;
    min-width: 900px;
    height: 90%;
    display: flex;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first-box{
    width: 35%;
    height: 100%;
    background-color: rgb(234, 234, 234);
}

.user-friend{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
    border-left: 1px solid lightgrey;
}

.user-friend-name-img{
    display: flex;
    align-items: center;
}

.user-friend-name-img img{
    width: 2.5rem;
    border-radius: 50%;
}

.user-friend-name-img div{
    margin-left: 10px;
}

.settings-first-box{
    display: flex;
}

.settings-first-box i{
    margin: 0.8rem 0.5rem;
    color: darkgrey;
}

.settings-first-box i:hover{
    color: rgb(75, 75, 75);
    cursor: pointer;
} 

.notification{
    background-color: rgb(142, 218, 251);
    display: flex;
    align-items: center;
    padding: 0.6rem;
}

.notification i{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    color: rgb(142, 218, 251);
}

.notification div{
    font-size: 90%;
}

.text-notification div:last-child{
    color: grey;
    text-decoration: underline;
    font-size: 80%;
}

.text-notification{
    margin-left: 10px;
}

.search-place{
    display: flex;
    margin: 6px;
}

.search-place i{
    width: 3rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border: 1px solid lightgray;
    background-color: white;
    color: grey;
}

.search-place i:hover, .text-notification div:last-child:hover{
    cursor: pointer;
}

.search-place input{
    flex-grow: 1;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: none;
    padding: 0.4rem;
}

.users-list{
    max-height: 74%;
    overflow-y: scroll;
}

.user{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-bottom: 8px;
    border-top: 1px solid lightgrey;
}

.user:hover{
    background-color: lightgray;
    cursor: pointer;
}

.user img{
    width: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.user-text-left{
    display: flex;
}

.text-users div:last-child{
    font-size: 70%;
    color: gray;
}

.time{
    margin-right: 10px;
    color: grey;
    font-size: 80%;
}

.second-box{
    width: 65%;
    height: 100%;
    background-image: url(../img/mine.jpg);
    position: relative;
}

.messages{
    height: calc(100% - 3.5rem - 57.59px);
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-friend{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.single-text{
    width: 230px;
    padding: 0.8rem;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 80%;
    position: relative;
    background-color: rgb(213, 249, 186);
}

.single-text-friend{
    width: 230px;
    padding: 0.8rem;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 80%;
    position: relative;
    background-color: white;
}

.single-text div:last-child{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 70%;
    color: grey;
}

.message-text{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-left: 1px solid lightgrey;
    background-color: rgb(234, 234, 234);
}

#write-message{
    padding: 0.8rem;
    flex-grow: 1;
    margin: 0 1.5rem;
    border: none;
    border-radius: 10px;
}

.message-text i{
    color: rgb(75, 75, 75);
    font-size: 120%;
    cursor: pointer;
}